#main-header .et_mobile_menu .menu-item-has-children > a {
  background-color: #000;
  position: relative;
}

#main-header .et_mobile_menu .menu-item-has-children > a:hover {
    color: #000000;
    background-color: #ffffff;
}
#main-header .et_mobile_menu .menu-item-has-children > a:after {
  font-family: 'ETmodules';
  text-align: center;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  position: absolute;
}

#main-header .et_mobile_menu .menu-item-has-children > a:after {
  font-size: 16px;
  content: '\4c';
  top: 10px;
  right: 10px;
}

#main-header .et_mobile_menu .menu-item-has-children.visible > a:after {
  content: '\4d';

}

#main-header .et_mobile_menu ul.sub-menu {
  display: none !important;
  visibility: hidden !important;
  transition: all 1.5s ease-in-out;
}

#main-header .et_mobile_menu .visible > ul.sub-menu {
  display: block !important;
  visibility: visible !important;
  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#main-header .et_mobile_menu ul.sub-menu li:after {
	display: none;
}